<h1>Unicron - Gerador de Cronogramas</h1>
<div class="row">
    <div class="col-md-3 form-group">
        <fieldset>
            <legend>Campus:</legend>
            <div *ngFor="let c of campi">
                <label>
                    <input type="radio" name="campus" value="{{c.value}}" [(ngModel)]="campus" /> {{c.label}}:
                </label>
            </div>
        </fieldset>
    </div>

    <div class="col-md-3 form-group">
        <fieldset>
            <legend>Campus avançado:</legend>
            <div *ngFor="let c of campiAvancado">
                <label>
                    <input type="radio" name="campusAvancado" value="{{c.value}}" [(ngModel)]="campusAvancado" /> {{c.label}}:
                </label>
            </div>
        </fieldset>
    </div>
    <div class="col-md-3 form-group">
        <fieldset>
            <legend>Aulas por dia:</legend>
            <div *ngFor="let diaSemanaAula of diasSemanaAula">
                <label for="{{'text_' + diaSemanaAula.name}}">
                    <!-- <input type="checkbox" name="{{'checkbox_' + diaSemanaAula.name}}" value="{{diaSemanaAula.value}}" [(ngModel)]="diaSemanaAula.checked" /> -->
                    {{diaSemanaAula.label}}:
                    <input class="cargaHoraria" type="text" name="{{'text_' + diaSemanaAula.name}}" [(ngModel)]="diaSemanaAula.value" />
                </label>
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-3 form-group">
        <label for="cargaHorariaTotal">Carga horária:</label>
        <input class="cargaHoraria" type="text" name="cargaHorariaTotal" value="{{cargaHorariaTotal}}" [(ngModel)]="cargaHorariaTotal"
        />
    </div>

    <div class="col-md-3 form-group">
        <fieldset>
            <legend>Tipo de disciplina:</legend>
            <label>
                <input type="radio" name="disciplinaSemestral" [value]="true" [(ngModel)]="disciplinaSemestral" /> Semestral
            </label>
            <label>
                <input type="radio" name="disciplinaSemestral" [value]="false" [(ngModel)]="disciplinaSemestral" /> Anual
            </label>
        </fieldset>
    </div>

    <div class="col-md-3 form-group">
        <fieldset>
            <legend>Semestre:</legend>
            <label>
                <input disabled={{!disciplinaSemestral}} type="radio" name="primeiroSemestre" [value]="true" [(ngModel)]="primeiroSemestre"
                /> Primeiro
            </label>
            <label>
                <input disabled={{!disciplinaSemestral}} type="radio" name="primeiroSemestre" [value]="false" [(ngModel)]="primeiroSemestre"
                /> Segundo
            </label>
        </fieldset>
    </div>
</div>

<button type="button" title="Gerar cronograma" class="btn btn-success action" (click)="gerarCronograma()">
    <i class='fa fa-calendar'></i> Gerar cronograma
</button>

<div *ngIf="cronograma">

    <table class='table' *ngIf="cronograma">
        <thead>
            <tr>
                <th>Mês/Qtde aulas</th>
                <th *ngFor="let number of numbers">
                    {{ number }}
                </th>
        </thead>
        <tbody>
            <tr *ngFor="let mes of cronograma.meses">
                <td>{{ mes.nome }}</td>
                <td *ngFor="let dia of mes.dias">
                    {{ dia }}
                </td>
                <td *ngFor="let dia of tdPadRight(mes.dias.length, cronograma.maximoAulasMes)">
                    -
                </td>
            </tr>
        </tbody>
    </table>
</div>